.user-container{
    background-color: rgb(181, 122, 45);
    padding: 10px;
   color: black;
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   align-items: center;
   margin: 1rem;
   flex-direction: column;
}

#user-img{
    height: 50%;
    border-radius: 50%;
}